@font-face {
     font-family: 'Bebas';
     src: url(../fonts/Bebas.woff2) format('woff2'),
          url(../fonts/Bebas.woff) format('woff'),
          url(../fonts/Bebas.ttf) format('truetype');
     font-weight: normal;
     font-style: normal;
     font-display: swap;
}

