@font-face {
    font-family: 'Bebas';
    src: url(../fonts/Bebas.woff2) format('woff2'),
        url(../fonts/Bebas.woff) format('woff'),
        url(../fonts/Bebas.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Bebas', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    background-color: #fbfbfb;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    min-height: 80px; /* чтобы контент не растягивал */
    align-items: center;
}

.header__logo__img {
    padding: 22px 0;
}

.menu {
    list-style: none;
}

.menu__item {
    display: inline-block;
    text-transform: uppercase;
}

.menu__item+.menu__item {
    margin-left: 27px;
}

.menu__link {
    color: #b9b9b9;
    transition: color 0.3s;
}

/* .menu__link--active {
    color: #e8663c;
} */

.menu__link:hover {
    color: #e8663c;
}

/* SLIDER */

.slider__inner {
    position: relative;
    min-height: 400px;
    background-image: url(../images/slider-bg.jpg);
    background-position: top center;
}

.slider__title {
    margin-bottom: 22px;
}

.slider__item-info {
    position: absolute;
    bottom: 33px;
    left: 35px;
    
    max-width: 415px;
    padding: 23px 20px 25px;
    background-color: rgba(192,109,61,.8);
    font-size: 12px;
}

/* SLIDER */