html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Bebas', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    background-color: #fbfbfb;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    min-height: 80px; /* чтобы контент не растягивал */
    align-items: center;
}

.header__logo__img {
    padding: 22px 0;
}

.menu {
    list-style: none;
}

.menu__item {
    display: inline-block;
    text-transform: uppercase;
}

.menu__item+.menu__item {
    margin-left: 27px;
}

.menu__link {
    color: #b9b9b9;
    transition: color 0.3s;
}

/* .menu__link--active {
    color: #e8663c;
} */

.menu__link:hover {
    color: #e8663c;
}

/* SLIDER */

.slider__inner {
    margin-bottom: 18px;
}

.slider__item {
    min-height: 400px;
    background-image: url(../images/slider-bg.jpg);
    background-position: top center;
    display: flex !important;
    align-items: flex-end;
}

.slider__item-block {
    max-width: 415px;
    background-color: rgba(232,102,60,.8);
    font-size: 18px;
    color: #fff;
    margin: 0 33px 30px;
    padding: 23px 20px 20px;
}

.slider__item-info {
    padding-top: 20px;
    font-family: 'HelveticaNeue', sans-serif;
    font-size: 12px;
    line-height: 14px;
    overflow: hidden;
}

.slider__mini {
    display: flex;
    justify-content: space-between;
}

.slider__mini-img {
    width: 140px;
    min-height: 120px;
    background-position: top;
}

.mini-img__one {
    background-image: url(../images/slider-mini1.jpg);
}

.mini-img__two {
    background-image: url(../images/slider-mini2.jpg);
}

.mini-img__three {
    background-image: url(../images/slider-mini3.jpg);
}

.mini-img__four {
    background-image: url(../images/slider-mini4.jpg);
}

.mini-img__five {
    background-image: url(../images/slider-mini5.jpg);
}

.mini-img__six {
    background-image: url(../images/slider-mini6.jpg);
}

.slick-arrow {
    height: 52px;
    width: 38px;
    right: 23px;
    color: rgba(255,255,255,.9);
}

.slick-prev {
    background-image: url(../images/arrow-prev.svg);
}

.slick-next {
    background-image: url(../images/arrow-next.svg);
}

/* SLIDER */
