@font-face {
     font-family: 'HelveticaNeueCyr-Light';
          url(../fonts/HelveticaNeue-Light.woff) format('woff'),
          url(../fonts/HelveticaNeue-Light.ttf) format('truetype');
     font-weight: normal;
     font-style: normal;
     font-display: swap;
}