@font-face {
    font-family: 'Bebas';
    /*Название шрифта*/
    src: url('../fonts/Bebas.woff2') format('woff2'), /*src - Пути к шрифтам*/
    url('../fonts/Bebas.woff') format('woff'), url('../fonts/Bebas.ttf') format('truetype');
    font-weight: normal;
    /*Насыщенность/начертание шрифта - "жирность"*/
    font-style: normal;
    /*Стилизация шрифта */
    font-display: swap;
    /*Метод загрузки шрифта*/
}

@font-face {
    font-family: 'HelveticaNeue';
    /*Название шрифта*/
    src: url('../fonts/HelveticaNeue.woff2') format('woff2'), /*src - Пути к шрифтам*/
    url('../fonts/HelveticaNeue.woff') format('woff'), url('../fonts/HelveticaNeue.ttf') format('truetype');
    font-weight: normal;
    /*Насыщенность/начертание шрифта - "жирность"*/
    font-style: normal;
    /*Стилизация шрифта */
    font-display: swap;
    /*Метод загрузки шрифта*/
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Bebas, sans-serif;
    font-size: 16px;
}

a {
    color: #cacaca;
    display: inline-block;
    text-decoration: none;
}

a:hover {
    transition: all .3s;
    color: #ee8c6c;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    background-color: #ffffff;
    display: block;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
}

li {
    display: inline-block;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__menu {
    margin: 0;
}

.header__menu li+li {
    margin-left: 28px;
}

.header__menu a {
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
}

.slider__inner {
    display: flex;
    align-items: flex-end;
    background-position: top center;
    min-height: 400px;
    background-position: top center;
    background-image: url(../Images/slider-bg.jpeg);
    margin-bottom: 18px;
}

.slider__item {
    max-width: 415px;
    background-color: rgba(232, 102, 60, .8);
    font-size: 18px;
    color: #fff;
    margin: 0 33px 30px;
    padding: 23px 20px 20px;
}

.slider__item-info {
    padding-top: 20px;
    font-family: 'HelveticaNeue', sans-serif;
    font-size: 12px;
    line-height: 14px;
    overflow: hidden;
}

.slider__mini {
    display: flex;
    justify-content: space-between;
}

.slider__mini-one {
    width: 140px;
    height: 120px;
    background-image: url(../Images/slide1.jpg);
}

.slider__mini-two {
    width: 140px;
    height: 120px;
    background-image: url(../Images/slide2.jpg);
}

.slider__mini-one {
    width: 140px;
    height: 120px;
    background-image: url(../Images/slide1.jpg);
}

.slider__mini-one {
    width: 140px;
    height: 120px;
    background-image: url(../Images/slide1.jpg);
}