@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: rgb(216, 216, 216);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 92.5px 92.5px 92.5px 92.5px;
}

.container__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box__item {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: normal;
    font-size: 100px;
    line-height: 100px;
    color: #FFFFFF;
    text-align: center;
    padding: 70px 0;
}

.box {
    width: 500px;
    height: 500px;
    text-align: ;
    position: relative;
    margin-bottom: 15px;
}


/* big boxes */

.box1 {
    background-color: rgb(59, 188, 227);
}

.box2 {
    background-color: rgb(255, 191, 71);
}

.box3 {
    background-color: rgb(220, 145, 216);
}

.box4 {
    background-color: rgb(142, 215, 143);
}


/* Little boxes with numbers */

.box__item {
    width: 250px;
    height: 250px;
    position: absolute;
}

.box__item--1 {
    background-color: rgb(255, 191, 71);
    bottom: 0;
    right: 0;
}

.box__item--2 {
    background-color: rgb(59, 188, 227);
    bottom: 0;
}

.box__item--3 {
    background-color: rgb(142, 215, 143);
    right: 0%;
}

.box__item--4 {
    background-color: rgb(220, 145, 216);
}


/* Before */

.box__item::before {
    content: "";
    width: 250px;
    height: 250px;
    border: 30px solid white;
    position: absolute;
    transition: all 1s;
}

.box__item--1::before {
    background-color: rgb(142, 215, 143);
    bottom: 250px;
    right: 250px;
}

.box__item--2::before {
    background-color: rgb(220, 145, 216);
    left: 250px;
    bottom: 250px;
    border-radius: 50%;
}

.box__item--3::before {
    background-color: rgb(59, 188, 227);
    right: 250px;
    top: 250px;
    transform: rotate(45deg);
    width: 205px;
    height: 205px;
}

.box__item--4::before,
.box__item--4::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}

.box__item--4::before {
    border-width: 0 0 150px 150px;
    border-color: transparent transparent #FFBF47 transparent;
    right: -220px;
    bottom: -220px;
    z-index: 1;
}

.box__item--4::after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 250px 250px;
    border-color: transparent transparent #ffffff transparent;
    left: 250px;
    top: 250px;
}


/* moves */

.box__item--1:hover::before {
    right: 0;
    border-radius: 50%;
    background-color: rgb(220, 145, 216);
}

.box__item--2:hover::before {
    bottom: 0;
    border-radius: 0;
    background-color: rgb(142, 215, 143);
}

.box__item--3:hover::before {
    transform: rotate(0deg);
    background-color: rgb(255, 191, 71);
}

.box__item--4:hover::before {
    border-color: transparent transparent transparent #3BBCE3;
    right: -180px;
    bottom: -180px;
}

.box__item--4:hover::after {
    border-color: transparent transparent transparent #fff;
}