* {
    box-sizing: border-box;
    font-size: 30px;
    line-height: 1.5;
}

.s1:hover {
    color: blue;
}

.s:hover {
    color: darkkhaki;
}

.s {
    margin-left: 190px;
}

.s2:hover {
    color: pink;
}

.s2 {
    margin-left: 220px;
}

.s3:hover {
    color: yellow;
}

.s3 {
    margin-left: 380px;
}

.s4:hover {
    color: red;
}

.s4 {
    margin-left: 473px;
}

.s5:hover {
    color: brown;
}

.s5 {
    margin-left: 583px;
}

.s6:hover {
    color: green;
}

.s6 {
    margin-left: 695px;
}

.s7:hover {
    color: darkblue;
}

.s7 {
    margin-left: 870px;
}

.s8:hover {
    color: darkcyan;
}

.s8 {
    margin-left: 965px;
}

.s9:hover {
    color: lightgreen;
}

.s9 {
    margin-left: 1080px;
}

.s10:hover {
    color: gray;
}

.s10 {
    margin-left: 965px;
}

.s11:hover {
    color: aqua;
}

.s11 {
    margin-left: 870px;
}

.s12:hover {
    color: purple;
}

.s12 {
    margin-left: 695px;
}

.s13:hover {
    color: darkred;
}

.s13 {
    margin-left: 473px;
}

.s14:hover {
    color: lightslategray;
}

.s14 {
    margin-left: 380px;
}

.s15:hover {
    color: chocolate;
}

.s15 {
    margin-left: 583px;
}