html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.box {
    border: 2px solid #000000;
    font-size: 30px;
    text-align: center;
    margin: 0 15px;
}

.wrapper {
    display: flex;
    justify-content: flex-end;
}