    * {
        box-sizing: border-box;
    }
    
    body {
        height: 3000px;
    }
    
    .box {
        width: 200px;
        height: 200px;
        background: yellow;
        float: left;
        margin-right: 15px;
    }
    
    .wrapper {
        width: 700px;
        height: 700px;
        background: gray;
    }
    
    .text {
        margin-top: 50px
    }
    
    .item::after {
        content: '';
        display: block;
        clear: both;
    }