                * {
                box-sizing: border-box;
                .box {
                    /* margin-top: 300px;
    margin-bottom: 50px;   
    margin-left: 25px; */
                    /* border: 2px solid #000; */
                    /* padding-top: 300px; */
                    /* width: 500px;
    background: #ccc;
    margin-left: 500px;
    padding-left: 100px;
    box-sizing: border-box;
    border-right: 10px solid #000;
    height: 300px;
    overflow: auto; */
                }
                h1:hover {
                    color: red;
                }
                .content {
                    /* padding-top: 75px;
    padding-left: 50px;
    padding-right: 150px;
    padding-bottom: 60px; */
                    background-color: #ddd;
                    /* padding: 75px 150px 60px 50px; */
                    /* padding: 75px 200px 50px; */
                    /* padding: 75px 150px; */
                    padding: 80px;
                }
                h4::before {
                    content: '888';
                }
                h4::after {
                    content: '333';
                    span {
                        justify-content: space-around;
                    }
                }