* {
    box-sizing: border-box;
}

.box {
    width: 200px;
    height: 200px;
    background: yellow;
    float: left;
    margin-right: 15px;
    transition: all 4s cubic-bezier(0.01, 0.02, 0.11, 1.08);
}

.wrapper {
    width: 700px;
    height: 700px;
    background: gray;
}

.box:hover {
    width: 400px;
    height: 400px;
    background-color: green;
    transform: rotate(90deg)
}

.text:hover {
    color: blue;
}

.text {
    font-size: 40px;
    transition: all .5s;
}