@font-face {
    font-family: 'Bebas';
    src: url(../fonts/Bebas.woff2) format('woff2'),
         url(../fonts/Bebas.woff) format('woff'),
         url(../fonts/Bebas.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url(../fonts/HelveticaNeue.woff2) format('woff2'),
         url(../fonts/HelveticaNeue.woff) format('woff'),
         url(../fonts/HelveticaNeue.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url(../fonts/HelveticaNeue.woff2) format('woff2'),
         url(../fonts/HelveticaNeue.woff) format('woff'),
         url(../fonts/HelveticaNeue.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Bebas', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #fff; /* фон задаем сюда. это хорошая практика */
}

a {
    text-decoration: none;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    min-height: 80px; /* чтобы контент не растягивал */
    align-items: center;
}

/* HEADER */

.header__logo-img {
    padding: 22px 0;
}

.menu {
    list-style: none;
}

.menu__item {
    display: inline-block;
}

.menu__item+.menu__item {
    margin-left: 27px;
}

.menu__link {
    color: #b9b9b9;
    transition: color 0.3s;
}

.menu__link--active,
.menu__link:hover {
    color: #e8663c;
}

/* SLIDER */

.slider {
    display: flex;
    margin-bottom: 40px;
}

.slider::before,
.slider::after {
    content: '';
    width: 100%;
    height: 60px;
    background-color: #f3af9d;
}

.slider__inner {
    margin-bottom: 18px;
}

.slider__item {
    min-height: 400px;
    position: relative;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slider__block {
    max-width: 415px;
    padding: 21px 22px;
    background-color: rgba(232,102,60,.8);
    font-size: 18px;
    color: #fff;
    
    position: absolute;
    left: 34px;
    bottom: 31px;
}

.slider__info {
    padding-top: 20px;
    font-family: 'HelveticaNeue', sans-serif;
    font-size: 12px;
    line-height: 14px;
}

.thumbs__item {
    width: 140px;
    height: 120px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.thumbs .slick-track div + div {
    margin-left: 20px;
}

.thumbs .slick-slide {
    max-width: 140px;
}

.slick-prev::before,
.slick-next::before {
    width: 37px;
    height: 52px;
    position: absolute;
    transition: all 0.5s;
    background-color: transparent;
}

.slick-prev,
.slick-next {
    top: 40%;
}

.slick-prev {
    z-index: 5;
    left: 15px;
}

.slick-next {
    right: 50px;
}

.slick-prev::before {
    content: url('../images/arrow-prev.svg');
}

.slick-next::before {
    content: url('../images/arrow-next.svg');
}

/* SLIDER */

/* ITEMS */

.items {
    margin-bottom: 45px;
}

.items__inner {
    display: flex;
    justify-content: space-between;
}

.item {
    max-width: 280px;
}

.item__title {
    font-size: 18px;
    line-height: 24px;
    color: #e8663c;
    padding-left: 72px;
    margin-bottom: 40px;
    word-spacing: 4px;
    position: relative;
}
  
.item__title::before {
    content: '';
    position: absolute;
    left: 0;
}

.item__title--icon::before {
    width: 46px;
    height: 46px;
    background-image: url(../images/items/item-1.svg);  
}

.item__title--check::before {
    width: 49px;
    height: 41px;
    background-image: url(../images/items/item-2.svg);
}

.item__title--user::before {
    width: 41px;
    height: 40px;
    background-image: url(../images/items/item-3.svg);
}

.item__text {
    padding-bottom: 20px;
    font-size: 12px;
    line-height: 18px;
    font-family: 'HelveticaNeue', sans-serif;
    color: #414141;
}

.item__link {
    font-size: 12px;
    padding: 10px 15px 10px 13px;
    background-color: #e8663c;
    color: #fff;
    text-align: center;
}

/* ITEMS */

/* RECENT WORKS */

.works {
    margin-bottom: 50px;
}

.works__title {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    color: #e8603c;
    font-size: 18px;
    margin-bottom: 25px;
}

.works__title::after {
    content: '';
    background-image: url(../images/background.png);
    background-size: cover;
    width: 100%;
}

.works__links {
    display: flex;
    justify-content: space-between;
}

.work {
    display: flex;
    flex-direction: column;
}

.work__text {
    border: 1px solid #dbdbdb;
    border-top: none;
    padding: 13px 0 7px 14px;
    line-height: 18px;
    max-width: 220px;
}


.work__title {
    color: #b9b9b9;
}

.work__time {
    display: block;
    font-size: 11px;
    color: #e8663c;
}

/* RECENT WORKS */

/* FOOTER */

.footer {
    display: flex;
}

.footer::before,
.footer::after {
    content: '';
    width: 100%;
    flex: 1 0 0;
    background-color: rgba(232,102,60,0.5);
}

.footer__inner {
    display: flex;
    justify-content: space-around;
    background-color: #e8663c;
    color: #fff;
    font-family: 'HelveticaNeue', sans-serif;
}

.footer__item {
    font-size: 12px;
    line-height: 14px;
    padding: 39px 0 30px;
}

.footer__item--about {
    max-width: 265px;
}

.footer__item-title {
    margin-bottom: 28px;
    font-family: 'Bebas', sans-serif;
    font-size: 20px;
}

.footer__item--widget {
    max-width: 215px;
}

.footer__widget {
    list-style: none;
    margin: 0;
    padding: 0; 
}

.footer__comment-user,
.footer__comment-time {
    color: #f1b09b;
}

.footer__item--contact {
    max-width: 255px;
}

.footer__link {
    display: block;
    color: #fff;
}

.footer__contact-social {
    margin-top: 18px;   
    
}

/* FOOTER */